@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    
}

body {
    background: #ebebeb;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.result {
    margin: 10px;
    padding: 10px;
    width: 330px;
    background: white;
    border: 1px solid grey;
    border-radius: 1rem;
}

.result p {
   
}

  
.loader {
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    color: black;
}

span {
    position: relative;
    top: 0.63em;  
    display: inline-block;
    text-transform: uppercase;  
    opacity: 0;
    transform: rotateX(-90deg);
}

.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
}

.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
}

.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
}

.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;

}

.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
}
